
{% include '::header_employee.html.twig' %}

 
<div class="container-fluid easy happyness book-b">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-12 ads">
		  
		  {% include '::nav_employee.html.twig' %}
		  
       </div>
      
      
      <div class="container">
        <div class="row book_in">
          <div class="col-lg-12 bay">
				
				<h4>
				  Add Booking
				</h4>
				
				 
				

            {% include '::sidebar_left_employee_calander.html.twig' %}
            
           

            
           <div class="col-lg-6 cod_center">
            
          
            
              <div class="col_inner">
               <div class="col-md-3 col-1 col_01 btn-lg">
                  <p><a class="btn btn-primary bnt_in" href="#" role="button">9:00</a></p>
                </div>
                <div class="col-md-3 col-1 seat">
                  <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                   </div>
                </div>
                <div class="col-md-3 col-1 col_01">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">dasdsad</a></p>
                </div>

              </div>
             
              
<!--
              <div class="col_inner">
               <div class="col-md-3 col-1 col_01 btn-lg">
                  <p><a class="btn btn-primary bnt_in" href="#" role="button">9:00</a></p>
                </div>
                <div class="col-md-3 col-1 seat">
                  <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                    <div class="btn-group r_button" role="group">R</div>
                   </div>
                </div>
                <div class="col-md-3 col-1 col_01">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Premium</a></p>
                </div>
                <div class="col-md-3 col-1 col_01">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Stand Up</a> </p>
                </div>
                <div class="col-md-3 col-1 col_01">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Ultra</a></p>
                </div>
                <div class="col-md-3 col-1 col_01">
                  <p><a class="btn btn-primary btn-lg" href="#" role="button">Spray Tan</a></p>
                </div>
              </div>
              
-->
             
            </div>
       
<!--
					{% include '::sidebar_right_employee.html.twig' %}
-->
        </div>
        </div>
      </div>
      <!-- /.row --> 
      
    </div>
  </div>
</div>



{% include '::footer_employee.html.twig' %}

<style>
	
.bookNew {
float: right;
}
</style>

