
{% include '::header_employee.html.twig' %}

 
<div class="container-fluid easy happyness book-b">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-12 ads">
		  
		  {% include '::nav_employee.html.twig' %}
		  
       </div>
      
      
      <div class="container">
        <div class="row book_in">
          <div class="col-lg-12 bay">
            <h4>
              </br>
                    {% for flashMessage in app.session.flashbag.get('success') %}

								<span class="sucessmessage" >{{ flashMessage }} </span>
						
							{% endfor %}  
                         {% for flashMessage in app.session.flashbag.get('error') %}

								<span class="message" >{{ flashMessage }}</span>

							{% endfor %}  
                         
                         {% for flashMessage in app.session.flashbag.get('newpasswordmessage') %}

								<span class="newpasswordmessage" >{{ flashMessage }}</span>

							{% endfor %}  
            
            </h4>

            {% include '::sidebar_left_employee.html.twig' %}
            
           <div class="col-lg-6 cod_center">
            
		        <div class="loginbox login_form">
					<form  action="" method="post" enctype="multipart/form-data" >
                       <ul>
                          <h4>  Change Password  </h4>
                  
                         
                          <li>
                             <label class="login-k login_b"><font><font> Old Password:</font></font><i><font><font>*</font></font></i></label>
                             <div class="login-v common_form_val log">
                                <input type="password"  name="oldPassword" class="x-input inputstyle"  id="oldPassword" >
                             </div>
                          </li>
                          <li>
                             <label class="login-k login_b"><font><font> New Password:</font></font><i><font><font>*</font></font></i></label>
                             <div class="login-v common_form_val log">
                                <input type="password"  name="newPassword" class="x-input inputstyle" id="newPassword" >
                             </div>
                          </li>
                          <li>
                             <label class="login-k login_b" style="width: 38%;"><font><font>Confirm Password:</font></font><i><font><font>*</font></font></i></label>
                             <div class="login-v common_form_val log">
                                <input type="password"  name="repeatPassword" class="x-input inputstyle" id="repeatPassword" >
                             </div>
                          </li>
                       </ul>
						<input type ="submit" name = "submit" value= "Change Password"class="btn green-haze" >
										
						<div class="msgSuccess" id="divFlashMessage">
						</div>	
                    </form >
				</div>
            </div>
       
<!--
			{% include '::sidebar_right_employee.html.twig' %}
-->
        </div>
        </div>
      </div>
      <!-- /.row --> 
      
    </div>
  </div>
</div>

<style>
span.message 
{
color: red;
}
input.btn.green-haze {
background: #E35B5A;
color: #FFF;
}

li#listChangePassword a {
color: #E35B5A !important;
background-color: white !important;
}
</style>


{% include '::footer_employee.html.twig' %}



