
<table>	
		{% for consumerDetail in arrGetCurrentDateConsumer  %}
	<tr>
			<td>Time:</td>
			<td> {{ consumerDetail.scheduledTime }}</td>
			
	</tr>
		{% endfor %}

		<tr>
			<td>Favorite Language:</td>
			<td colspan="3">test1</td>
		</tr>
		<tr>

			<td>About Yourself:</td>
			<td colspan="3">test2</td>
		</tr>

	</table>