{% include '::header_consumer.html.twig' %}
<!-- Marketing messaging and featurettes
   ================================================== --> 
<div class="container-fluid easy happyness">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 easy_text peo register login">
            <div class="col-lg-12 col-md-12 col-sm-6 salon_in sula">
               <div class="in_text-2 login_in-2">
                  <div class="sign_up">
                     <!-- <h4>Sign up </h4>-->
                     <div class="loginbox login_form">
						 
								
                        <form  action="" method="post" enctype="multipart/form-data" >
                           <ul>
                              <h4>  Recover Password  </h4>
                             
                             
                              <li>
                                 <label class="login-k login_b"><font><font> Email:</font></font><i><font><font>*</font></font></i></label>
                                 <div class="login-v common_form_val log">
                                    <input type="email"  name="email" class="x-input inputstyle" required >
                                 </div>
                              </li>
                              
                           </ul>
                           <div class="check_box">
                              <label class="login-k">&nbsp;</label>
                              <div class="login-v">
                                 <input type="checkbox"  name="checkbox">
                                 <a target="_blank" class="lnk" id="terms_error" href="#">
                                 <span id="terms_error_sym" class="FormText"><font><font>Remember Me</font></font></span></a><a target="_blank" class="lnk" id="privacy_error" href="#">
                                 </a>
                                 <font><font> .</font></font>
                              </div>
                           </div>
                           <div class="submit_b">
                              <div class="login-v common_form_sub signup_sub">
                                 <button  type="submit"  class="btn common-btn"  disabled>Recover Password
                                 </button>
                        </form >
  <script>
	var checkboxes = $("input[type='checkbox']"),
    submitButt = $("button[type='submit']");

	checkboxes.click(function() {
		submitButt.attr("disabled", !checkboxes.is(":checked"));
	});
</script>                 
                        </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<style>
span.message {
color: red;
}
</style>

{% include '::footer_consumer.html.twig' %}
