


{% include '::header.html.twig' %}

<script type= "text/javascript" src = "{{ asset('theme/frontend/js/country.js') }}"></script>

<!--  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script>
	$(window).load(function() {
	$('#confirm_password').on('keyup', function () {
		if ($(this).val() == $('#password').val()) {
			$('#message').html('matching').css('color', 'green');
		} else $('#message').html('not matching').css('color', 'red');
	});

});
</script>
-->

{% include '::js_user_register.html.twig' %}


<!-- Marketing messaging and featurettes
    ================================================== --> 
 <div class="container-fluid easy happyness">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 easy_text peo register">
        <h4>Register</h4>
        <div class="col-lg-12 col-md-12 col-sm-6 salon_in sula">
         
         <div class="in_text-2">
    <div class="sign_up">
    
   <!-- <h4>Sign up </h4>-->
   
   
<div id="main">
	 
    <form  action="{{ path('salon_solution_web_customerRegistration') }}" method="post" enctype="multipart/form-data" class="cmxform" id="signupForm"> 	
	
    
    <div class="loginbox">

        <ul>

          <li>

            <label class="login-k"><font><font>First Name:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text" name="firstName" id="firstName" class="x-input inputstyle" >

              </div>

          </li>

          <li>

            <label class="login-k"><font><font> Last Name:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"   name="lastName"  id="lastName" class="x-input inputstyle">

              </div>

          </li>

            <li>

            <label class="login-k"><font><font> E-mail:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="email" name="email" id="email"  placeholder="yourname@xx.com">

              </div>

          </li>

          <li>

            <label class="login-k"><font><font> Username:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val passport_login_kocde">

              <input type="text" name="username" id="username" class="x-input x-input">

             

          </li>

          <li>

            <label class="login-k"><font><font>Password:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="password"  name="password" id="password" class="x-input inputstyle">

              </div>

          </li>

          <li>

            <label class="login-k"><font><font> Confirm password:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="password"  name="confirm_password" id="confirm_password" class="x-input inputstyle">

              </div>
              <span id='message'></span>

          </li>
          <li>

            <label class="login-k"><font><font> Salon Name:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="salonName" id="salonName"  class="x-input inputstyle">

              </div>

          </li>
          <li>

            <label class="login-k"><font><font> Domain Name:</font></font><i><font><font>*</font></font></i></label>

           	<div class="login-v common_form_val" style="">

              <input type="text" style="float: left; width: 47%;" class="x-input inputstyle" id="domain"  name="domain"><label style="padding-top: 8px; color: grey;"> .salonsolutions.com</label>

              </div>
          </li>
		  <li>

            <label class="login-k"><font><font> Display Name:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="displayName" id="displayName"  class="x-input inputstyle">

              </div>
          </li>
          
         
         
           <li>
            <label class="login-k"><font><font> Country:</font></font><i><font><font>*</font></font></i></label>
           
            <select id="country" name="country" ></select>
		
          </li>
          
          <li>

            <label class="login-k"><font><font> State:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <select name="state" id="state"></select>

              </div>

          </li>
           <li>

            <label class="login-k"><font><font> Address:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="address" id="address"  class="x-input inputstyle">

              </div>

          </li>
          <li>

            <label class="login-k"><font><font> City:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="city"  id="city"  class="x-input inputstyle">

              </div>

          </li>
          
         
          
         <li>

            <label class="login-k"><font><font> Zip:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="zip"   id="zip"  class="x-input inputstyle">

              </div>

          </li>
          
         <li>

            <label class="login-k"><font><font> Mobile:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="mobile"   id="mobile"  class="x-input inputstyle">

              </div>

          </li>
          
         <li>

            <label class="login-k"><font><font> Landline:</font></font><i><font><font>*</font></font></i></label>

            <div class="login-v common_form_val">

              <input type="text"  name="landline"   id="landline"  class="x-input inputstyle">

              </div>

          </li>
          
         <li>

            <label class="login-k"><font><font> Photo:</font></font><i><font><font>*</font></font></i></label>

        

			<input type="file"  name="photo"  id="photo" >

           

          </li>
          
         <li>

            <label class="login-k"><font><font> Logo:</font></font><i><font><font>*</font></font></i></label>

           
			<input type="file"  name="logo"  id="logo" >

          

          </li>
      
          
        

        

        </ul>

        

        <div class="check_box">

            <label class="login-k">&nbsp;</label>

            <div class="login-v">
              <input type="checkbox" id="agree" name="agree">
              
              <font><font>I have read and agree to </font></font><a target="_blank" class="lnk" id="terms_error" href="#"><span id="terms_error_sym" class="FormText"><font><font>Registration Agreement</font></font></span></a><font><font> and </font></font><a target="_blank" class="lnk" id="privacy_error" href="#"><span id="privacy_error_sym" class="FormText"><font><font>Privacy Policy</font></font></span></a><font><font> .</font></font></div>
          </div>

          </div>

          <div class="submit_b">

            <label class="login-k">&nbsp;</label>

            <div class="login-v common_form_sub signup_sub">

<!--
					<input class="submit" type="submit" value="Submit">
-->
             

              <button type="submit" name="submit" value="submit" class="btn common-btn"  ><span><span><font><font>Submit</font></font></span></span></button>


            
            </div>

          </div>

      </div>

    </form >
    </div>
    
    
    <script language="javascript">
            populateCountries("country", "state");
      </script>
    
	  
	  
    </div>
  </div>
         
        </div>
        
        
      </div>
    </div>
  </div>
</div>   



<!--


<script>
	var checkboxes = $("input[type='checkbox']"),
    submitButt = $("button[type='submit']");

	checkboxes.click(function() {
		submitButt.attr("disabled", !checkboxes.is(":checked"));
	});
</script>
-->
 




{% include '::footer.html.twig' %}

